@keyframes animate1 {
  0% { transform: rotate(300deg); }
  10% { transform: rotate(360deg); }
  100% { transform: rotate(360deg); }
}

.animate {
  animation: animate1 5s linear infinite;
}
@import "@fortawesome/fontawesome-free/css/all.min.css";
@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 1.2s ease-in-out forwards;
}
